body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    padding-top: 10em;
}

/* Navbar */
.bg-custom {
    background-color: #d42e12;
}

.bg-custom .navbar-nav .nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #442725 !important; 
}


/* Body */
.robot-banner img {
    height: auto; 
    max-height: 70vh; 
}

.text-details{
    color: #777;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* Footer */
.customFooter {
    background-color: #d42e12;
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-section {
    flex: 1;
}

.social-media-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: opacity 0.3s;
}

.social-media-links a:hover {
    opacity: 0.8;
}

/* Scroller button */
a.scrollup {
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5;
    background: #000000;
    border-radius: 50%; 
    display: none; 
}

a.scrollup:hover {
    opacity: 1;
}

/* Sponsors */
.sponsor-image {
    width: 100%;
    display: flex;            
    align-items: center;      
    padding: 10px;           
}

.sponsor-image img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}